doctype html
html
  head
    meta(name="viewport",content="width=device-width")
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    title Support Bernie Sanders!
    style
      include invite.css
  body

    table(class="body-wrap")
      tr
        td
        td(class="container",bgcolor="#FFFFFF")
          // Content
          div(class="content")
            table
              tr(class="logo")
                td
                  img(height="120",src="http://bernbank.com/img/logoisolated2-email.png",alt="BernBank.com")
              tr
                td
                  p Hello!
                  p It's time to fulfill the pledge you made to support the phone bankers working hard all around the country to get Bernie Sanders elected as the next President of the United States of America!
                  p Last week we had a grand total of #{totalCallers} callers who made more than #{threshold} calls!  Since you pledged #{pledgeAmount} cent(s) per caller, your total pledge amount is #{donationAmount}.  To make it as easy as possible for you to make your donation, we've created a donation link with the exact amount you've pledged automatically filled in for you!
                  p
                    a(href="https://secure.actblue.com/contribute/page/bernbank?amount=#{donationAmount}") Click here to go the official campaign donation vendor (ActBlue) and make your donation!
                  p Thank you for continuing to support Bernie Sanders and all of the hard working phone bankers.  With your continued help, we're well on our way to making Bernie's political revolution a reality!
                  p Thanks Again!
                  p - The BernBank Team
    // Footer
    table(class="footer-wrap")
      tr
        td
        td(class="container")
          // Content
          div(class="content")
            table
              tr
                td(align="center")
                  p(class="unsubscribe")
                    | Don't like these annoying emails? 
                    a(href="http://bernbank.com/actions/unsubscribe/#{email}") Unsubscribe
        td
