doctype html
html
  head
    meta(name="viewport",content="width=device-width")
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    title Support Bernie Sanders!
    style
      include invite.css
  body

    table(class="body-wrap")
      tr
        td
        td(class="container",bgcolor="#FFFFFF")
          // Content
          div(class="content")
            table
              tr(class="logo")
                td
                  img(height="120",src="http://bernbank.com/img/logoisolated2-email.png",alt="BernBank.com")
              tr
                td
                  p Hey!
                  p It's time to fulfill the pledge you made with BernBank!
                  p Last week we had a grand total of #{totalCallers} callers who made more than #{threshold} calls!  Since you pledged #{pledgeAmount} cent(s) per caller, your total pledge amount is $#{donationAmount}.
                  p
                    a(href="https://secure.actblue.com/contribute/page/bernbank?amount=" + donationAmount) Click here to go the official campaign donation vendor (ActBlue) and make your donation!
                  p Thanks to you, the phone banking numbers have gone up significantly, and the phone banking teams have started breaking their goals for the first time since New York. Since we started, <b>$#{totalDonated}</b> in completed donations has been raised for the campaign!
                  p Thanks Again!
                  p - The BernBank Team
    // Footer
    table(class="footer-wrap")
      tr
        td
        td(class="container")
          // Content
          div(class="content")
            table
              tr
                td(align="center")
                  p(class="unsubscribe")
                    | Don't like these annoying emails? 
                    a(href="http://bernbank.com/actions/unsubscribe/" + email) Unsubscribe
        td
