| Hey everyone,
| #{'\n'}
| Time again to fulfill the pledge you made to BernBank.
| #{'\n'}
| Regardless of whether ​Bernie Sanders becomes the Democratic Party’s nominee, this is not about Bernie Sanders.
| #{'\n'}
| This is about progressivism. This is about ​changing the world for the better.
| #{'\n'}
| That’s what your money is going to.
| #{'\n'}
| We encourage you to follow through on your pledge and continue to fuel the flame that Bernie has ignited.
| #{'\n'}
| Last week we had a total of #{totalCallers} callers who made more than #{threshold} calls. Since you pledged #{pledgeAmount} cent(s) per caller, your total pledge amount is $#{donationAmount}.
| #{'\n'}
| Follow this link to go to ActBlue and continue to empower the revolution. https://secure.actblue.com/contribute/page/bernbank?amount=#{donationAmount}
| #{'\n'}
| Since we started, we have collected $6458.99 for the campaign.
| #{'\n'}
The revolution is well under way. Millions of people are ready to change politics and bring back democracy.
| #{'\n'}
| It does not end here.
| #{'\n'}
| - The BernBank Team
| #{'\n'}
| #{'\n'}
| Don't like these annoying emails?
| Unsubscribe: http://bernbank.com/actions/unsubscribe/#{email}